@import url(./common.css);
@import url(./default.css);
@import url(./theme.css);
@import url(./sr-only.css);

.container {
  max-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
/* 메인영역 */
#main {
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  padding: var(--spacing-base) 0;
}
.main-title {
  font-family: "YdestreetB";
  font-weight: 500;
  font-size: var(--text-xxl);
  display: flex;
  flex-flow: column nowrap;
}
.main-image {
  display: block;
  margin: var(--spacing-base) auto;
}
.main-label {
  font-size: var(--text-base);
  font-family: "Avengers";

  color: var(--secondary-color);
}
.main-btn {
  border: 1px solid var(--white-smoke);
  border-radius: var(--spacing-xs);
  background-color: var(--primary-color);
  color: var(--white-smoke);
  width: fit-content;
  margin: var(--spacing-base) auto;
  padding: var(--spacing-base);
  font-size: var(--text-xl);
  font-family: "Avengers";
  transition: all, 500ms;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--white-smoke);
  color: var(--primary-color);
}

/* 질문 영역 */
#qna {
  display: none;
  min-height: 100vh;
  margin: auto;
  padding: var(--spacing-xl) 0;
}

.qBox {
  display: block;
  margin: var(--spacing-uxl) auto;
  width: 80%;
  padding: var(--spacing-xl);
  background-color: var(--white-smoke);
  color: var(--black);
  text-align: center;
  border-radius: var(--spacing-md);
  font-size: var(--text-xl);
  font-weight: 700;
  line-height: 1.2;
}
.answerBox {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-base);
}
.answerList {
  width: 80%;
  padding: var(--spacing-lg);
  font-size: var(--text-lg);
  line-height: 1.2;
  background-color: var(--white-smoke);
  border-radius: 20px;
  display: block;
  border: 0px;
  transition: all, 300ms;
  cursor: pointer;
}

.answerList:hover,
.answerList:focus {
  background-color: var(--secondary-color);
  color: var(--white-smoke);
}

.status {
  width: 80%;
  height: var(--spacing-md);
  margin: auto;
  background-color: var(--white-smoke);
  border-radius: var(--spacing-md);
}

.statusBar {
  height: 100%;
  border-radius: var(--spacing-md);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cdaeef+0,7810ef+100 */
  background: #cdaeef; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #cdaeef 0%,
    #7810ef 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #cdaeef 0%,
    #7810ef 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #cdaeef 0%,
    #7810ef 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdaeef', endColorstr='#7810ef',GradientType=0 ); /* IE6-9 */
}

/* 결과 영역 */
#result {
  display: none;
  background-color: var(--bright-purple);
  color: var(--black);
  width: 80%;
  margin: var(--spacing-sm) auto;
  padding: var(--spacing-base);
  text-align: center;
  border-radius: 20px;
}

#shareResult {
  background-color: var(--bright-purple);
  color: black;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.resultEx {
  font-size: var(--text-md);
  font-weight: 300;
  text-align: center;
  display: inline-block;
  width: 80%;
  margin: auto;
}
.result-title {
  font-size: var(--text-xxl);
  font-weight: 700;
  color: var(--primary-color);
  font-family: "YdestreetB";
  margin-top: var(--spacing-sm);
}
.result-image img{
  border-radius: var(--spacing-xxs);
  margin: var(--spacing-base) 0;
}
.resultDesc {
  font-size: var(--text-md);
  text-align: justify;
  line-height: 1.3;
}
@media (min-width:1000px) {
  .resultDesc{
    width: 720px;
    margin: auto;
  }
}
.result-button{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: var(--spacing-base) 0;
}
.btns button{
  padding: var(--spacing-base);
  border: 0px;
  font-size: var(--text-base);
  border-radius: var(--spacing-xl);
  cursor: pointer;
  transition: all, 300ms;
}
.kakao {
  color: var(--black);
  background-color: var(--kakao-color);
}
.kakao:hover,
.kakao:focus {
  background-color: var(--primary-color);
  color: var(--kakao-color);
}
.reset {
  color: var(--white-smoke);
  background-color: var(--primary-color);;
}
.reset:hover,
.reset:focus {
  background-color: var(--white-smoke);
  color: var(--primary-color);
}